* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}
html,
body {
    height: 100%;
}
body {
    background-color: rgb(189, 224, 228);
}
::placeholder {
    color: rgb(143, 168, 166);
}
